body {
  background-image: url("http://www.casino-sidan.se/images/background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

img {
  position: relative;
}

h1 {
  color: white;
}

p {
  color: white;
  font-size: 25px;
}

#Dealers-Sum {
  text-align: right;
  top: 30px;
  right: 0;
  color: black;
}

#Bankroll {
  text-align: right;
  display: inline-block;
}

#Bet {
  text-align: right;
  display: inline-block;
}

#Your-Sum {
  text-align: right;
  top: 120px;
  right: 0;
  color: black;
}

#Player-Hand {
  max-width: 700px;
  height: 200px;
  position: relative;
  bottom: 5%;
  box-sizing: border-box;
  margin: 0 auto;
  left: 0;
  right: 0;
}

#Dealer-Hand {
  max-width: 700px;
  height: 200px;
  position: absolute;
  top: 5%;
  box-sizing: border-box;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.buttons {
  max-height: 150px;
  text-align: center;
}

.Game-Over-Button {
  max-width: 200px;
  max-height: 100px;
  background-color: rgb(150, 0, 0);
  text-align: center;
  border-radius: 10px;
}

.Hit-Button {
  max-width: 200px;
  max-height: 100px;
  background-color: rgb(150, 0, 0);
  text-align: center;
  border-radius: 10px;
}

.Stand-Button {
  max-width: 200px;
  max-height: 100px;
  background-color: rgb(150, 0, 0);
  text-align: center;
  border-radius: 10px;
}

.betting {
  text-align: center;
}

.col-xs-4 {
  max-width: 30%;
  top: 250px;
  color: black;
  max-height: 100px;
  padding-bottom: 75px;
}

.row {
  max-width: 100%;
}
